**/.DS_Store

#place where config files are generated
mysite/SuperDuperVPN/templates/generated_files/
#place where qr code images are saved
mysite/SuperDuperVPN/templates/generated_qr_codes/

#for test purposes
test.conf 

#default suggested .gitignore by Github

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/




#Suggestion to ignore by django
# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Backup files # 
*.bak 

# If you are using PyCharm # 
# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# AWS User-specific
.idea/**/aws.xml

# Generated files
.idea/**/contentModel.xml

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# File-based project format
*.iws

# IntelliJ
out/

# JIRA plugin
atlassian-ide-plugin.xml

# Python # 
*.py[cod] 
*$py.class 

# Distribution / packaging 
.Python build/ 
develop-eggs/ 
dist/ 
downloads/ 
eggs/ 
.eggs/ 
lib/ 
lib64/ 
parts/ 
sdist/ 
var/ 
wheels/ 
*.egg-info/ 
.installed.cfg 
*.egg 
*.manifest 
*.spec 

# Installer logs 
pip-log.txt 
pip-delete-this-directory.txt 

# Unit test / coverage reports 
htmlcov/ 
.tox/ 
.coverage 
.coverage.* 
.cache 
.pytest_cache/ 
nosetests.xml 
coverage.xml 
*.cover 
.hypothesis/ 

# Jupyter Notebook 
.ipynb_checkpoints 

# pyenv 
.python-version 

# celery 
celerybeat-schedule.* 

# SageMath parsed files 
*.sage.py 

# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 

# mkdocs documentation 
/site 

# mypy 
.mypy_cache/ 

# Sublime Text # 
*.tmlanguage.cache 
*.tmPreferences.cache 
*.stTheme.cache 
*.sublime-workspace 
*.sublime-project 

# sftp configuration file 
sftp-config.json 

# Package control specific files Package 
Control.last-run 
Control.ca-list 
Control.ca-bundle 
Control.system-ca-bundle 
GitHub.sublime-settings 

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
mysite/mysite/settings.py
mysite/wg0.conf
mysite/mysite/_settings.py
.vscode/launch.json
mysite/SuperDuperVPN/migrations/
docker-compose.yml
docker/nginx/conf.conf
mysite/static/SuperDuperVPN/bulma-rtl.css
mysite/static/SuperDuperVPN/bulma-rtl.css.map
mysite/static/SuperDuperVPN/bulma-rtl.min.css
mysite/static/SuperDuperVPN/bulma.css
mysite/static/SuperDuperVPN/bulma.css.map
mysite/static/SuperDuperVPN/bulma.min.css
mysite/static/admin/css/autocomplete.css
mysite/static/admin/css/base.css
mysite/static/admin/css/changelists.css
mysite/static/admin/css/dark_mode.css
mysite/static/admin/css/dashboard.css
mysite/static/admin/css/forms.css
mysite/static/admin/css/login.css
mysite/static/admin/css/nav_sidebar.css
mysite/static/admin/css/responsive_rtl.css
mysite/static/admin/css/responsive.css
mysite/static/admin/css/rtl.css
mysite/static/admin/css/widgets.css
mysite/static/admin/css/vendor/select2/LICENSE-SELECT2.md
mysite/static/admin/css/vendor/select2/select2.css
mysite/static/admin/css/vendor/select2/select2.min.css
mysite/static/admin/img/calendar-icons.svg
mysite/static/admin/img/icon-addlink.svg
mysite/static/admin/img/icon-alert.svg
mysite/static/admin/img/icon-calendar.svg
mysite/static/admin/img/icon-changelink.svg
mysite/static/admin/img/icon-clock.svg
mysite/static/admin/img/icon-deletelink.svg
mysite/static/admin/img/icon-no.svg
mysite/static/admin/img/icon-unknown-alt.svg
mysite/static/admin/img/icon-unknown.svg
mysite/static/admin/img/icon-viewlink.svg
mysite/static/admin/img/icon-yes.svg
mysite/static/admin/img/inline-delete.svg
mysite/static/admin/img/LICENSE
mysite/static/admin/img/README.txt
mysite/static/admin/img/search.svg
mysite/static/admin/img/selector-icons.svg
mysite/static/admin/img/sorting-icons.svg
mysite/static/admin/img/tooltag-add.svg
mysite/static/admin/img/tooltag-arrowright.svg
mysite/static/admin/img/gis/move_vertex_off.svg
mysite/static/admin/img/gis/move_vertex_on.svg
mysite/static/admin/js/actions.js
mysite/static/admin/js/autocomplete.js
mysite/static/admin/js/calendar.js
mysite/static/admin/js/cancel.js
mysite/static/admin/js/change_form.js
mysite/static/admin/js/collapse.js
mysite/static/admin/js/core.js
mysite/static/admin/js/filters.js
mysite/static/admin/js/inlines.js
mysite/static/admin/js/jquery.init.js
mysite/static/admin/js/nav_sidebar.js
mysite/static/admin/js/popup_response.js
mysite/static/admin/js/prepopulate_init.js
mysite/static/admin/js/prepopulate.js
mysite/static/admin/js/SelectBox.js
mysite/static/admin/js/SelectFilter2.js
mysite/static/admin/js/theme.js
mysite/static/admin/js/urlify.js
mysite/static/admin/js/admin/DateTimeShortcuts.js
mysite/static/admin/js/admin/RelatedObjectLookups.js
mysite/static/admin/js/vendor/jquery/jquery.js
mysite/static/admin/js/vendor/jquery/jquery.min.js
mysite/static/admin/js/vendor/jquery/LICENSE.txt
mysite/static/admin/js/vendor/select2/LICENSE.md
mysite/static/admin/js/vendor/select2/select2.full.js
mysite/static/admin/js/vendor/select2/select2.full.min.js
mysite/static/admin/js/vendor/select2/i18n/af.js
mysite/static/admin/js/vendor/select2/i18n/ar.js
mysite/static/admin/js/vendor/select2/i18n/az.js
mysite/static/admin/js/vendor/select2/i18n/bg.js
mysite/static/admin/js/vendor/select2/i18n/bn.js
mysite/static/admin/js/vendor/select2/i18n/bs.js
mysite/static/admin/js/vendor/select2/i18n/ca.js
mysite/static/admin/js/vendor/select2/i18n/cs.js
mysite/static/admin/js/vendor/select2/i18n/da.js
mysite/static/admin/js/vendor/select2/i18n/de.js
mysite/static/admin/js/vendor/select2/i18n/dsb.js
mysite/static/admin/js/vendor/select2/i18n/el.js
mysite/static/admin/js/vendor/select2/i18n/en.js
mysite/static/admin/js/vendor/select2/i18n/es.js
mysite/static/admin/js/vendor/select2/i18n/et.js
mysite/static/admin/js/vendor/select2/i18n/eu.js
mysite/static/admin/js/vendor/select2/i18n/fa.js
mysite/static/admin/js/vendor/select2/i18n/fi.js
mysite/static/admin/js/vendor/select2/i18n/fr.js
mysite/static/admin/js/vendor/select2/i18n/gl.js
mysite/static/admin/js/vendor/select2/i18n/he.js
mysite/static/admin/js/vendor/select2/i18n/hi.js
mysite/static/admin/js/vendor/select2/i18n/hr.js
mysite/static/admin/js/vendor/select2/i18n/hsb.js
mysite/static/admin/js/vendor/select2/i18n/hu.js
mysite/static/admin/js/vendor/select2/i18n/hy.js
mysite/static/admin/js/vendor/select2/i18n/id.js
mysite/static/admin/js/vendor/select2/i18n/is.js
mysite/static/admin/js/vendor/select2/i18n/it.js
mysite/static/admin/js/vendor/select2/i18n/ja.js
mysite/static/admin/js/vendor/select2/i18n/ka.js
mysite/static/admin/js/vendor/select2/i18n/km.js
mysite/static/admin/js/vendor/select2/i18n/ko.js
mysite/static/admin/js/vendor/select2/i18n/lt.js
mysite/static/admin/js/vendor/select2/i18n/lv.js
mysite/static/admin/js/vendor/select2/i18n/mk.js
mysite/static/admin/js/vendor/select2/i18n/ms.js
mysite/static/admin/js/vendor/select2/i18n/nb.js
mysite/static/admin/js/vendor/select2/i18n/ne.js
mysite/static/admin/js/vendor/select2/i18n/nl.js
mysite/static/admin/js/vendor/select2/i18n/pl.js
mysite/static/admin/js/vendor/select2/i18n/ps.js
mysite/static/admin/js/vendor/select2/i18n/pt-BR.js
mysite/static/admin/js/vendor/select2/i18n/pt.js
mysite/static/admin/js/vendor/select2/i18n/ro.js
mysite/static/admin/js/vendor/select2/i18n/ru.js
mysite/static/admin/js/vendor/select2/i18n/sk.js
mysite/static/admin/js/vendor/select2/i18n/sl.js
mysite/static/admin/js/vendor/select2/i18n/sq.js
mysite/static/admin/js/vendor/select2/i18n/sr-Cyrl.js
mysite/static/admin/js/vendor/select2/i18n/sr.js
mysite/static/admin/js/vendor/select2/i18n/sv.js
mysite/static/admin/js/vendor/select2/i18n/th.js
mysite/static/admin/js/vendor/select2/i18n/tk.js
mysite/static/admin/js/vendor/select2/i18n/tr.js
mysite/static/admin/js/vendor/select2/i18n/uk.js
mysite/static/admin/js/vendor/select2/i18n/vi.js
mysite/static/admin/js/vendor/select2/i18n/zh-CN.js
mysite/static/admin/js/vendor/select2/i18n/zh-TW.js
mysite/static/admin/js/vendor/xregexp/LICENSE.txt
mysite/static/admin/js/vendor/xregexp/xregexp.js
mysite/static/admin/js/vendor/xregexp/xregexp.min.js
