{% extends "base.html" %}


{% block title %} Add peer - SuperDuperVPN {% endblock%}


{% block content %}
<form method="post">
  {% csrf_token %}

  <section class="section">
    <h1 class="title is-1">Add New Peer</h1>
    <!--buttons-->
    <div class="field is-grouped">
      <div class="control">
        <button
          type="submit"
          name="action"
          value="add"
          class="button is-primary"
        >
          Create
        </button>
      </div>
      <div class="control">
        <a href="{% url 'peers' %}" class="button is-light">Cancel</a>
      </div>
    </div>
  </section>



  <div class="field">
    <label class="label">{{form.Name.label}}</label>
    <div class="control">{{form.Name}}</div>
  </div>
  <div class="field">
    <label class="label">{{form.KeepAlive.label}}</label>
    <div class="control">{{form.KeepAlive}}</div>
  </div>
</form>

{% endblock %}
