{% extends "base.html" %}
 {% block title %} Edit peer - SuperDuperVPN {% endblock %}
{% block content %}

<form method="post">
  {% csrf_token %}


<section class="section">
  <h1 class="title is-1">Edit {{form.Name.value}}</h1>
  <h1 class="subtitle">If you've lost your configuration file (QR code), you'll need to create a new peer and then delete the old one (this one) to resolve this issue.</h1>
<!--Buttons-->
<div class="field is-grouped">
  <!--Save-->
  <div class="control">
    <button
      type="submit"
      name="action"
      value="save"
      class="button is-primary"
    >
      Save
    </button>
  </div>

  <!--Delete-->
  <div class="control">
    <button
      type="submit"
      name="action"
      value="delete"
      class="button is-danger"
    >
      Delete
    </button>
  </div>

  <!--Cancel-->
  <div class="control">
    <a href="{% url 'peers' %}"
      ><button type="button" class="button is-light">Cancel</button></a
    >
  </div>
</div>
</section>






  <!--Name-->
  <div class="field">
    <label class="label">{{form.Name.label}}</label>
    <div class="control">{{form.Name}}</div>
  </div>

  <!--PublicKey-->
  <div class="field">
    <label class="label">{{form.PublicKey.label}}</label>
    <div class="control">{{form.PublicKey}}</div>
  </div>

  <!--AllowedIPs-->
  <div class="field">
    <label class="label">{{form.AllowedIPs.label}}</label>
    <div class="control">{{form.AllowedIPs}}</div>
  </div>



</form>

{% endblock %}