{% extends "base.html" %}
 {% block title %} Edit peer | SDVPN {% endblock %}
{% block content %}

<form method="post">
  {% csrf_token %}


<section class="section">
  <h1 class="title is-1">Edit {{form.Name.value}}</h1>
  <h1 class="subtitle">Here you can edit your peer. If you want to change more you must create new peer.</h1>
<!--Buttons-->
<div class="field is-grouped">
  <!--Save-->
  <div class="control">
    <button
      type="submit"
      name="action"
      value="save"
      class="button is-primary"
    >
      Save
    </button>
  </div>

  <!--Delete-->
  <div class="control">
    <a onclick="AreYouSureDeletePeer('{{peer.Name}}', `{% url 'delete_peer' peer.pk %}`)">
      <button
      type="button"
      value="delete"
      class="button is-danger"
    >
      Delete
    </button>
    </a>
   
  </div>

  <!--Cancel-->
  <div class="control">
    <a href="{% url 'peers' %}"
      ><button type="button" class="button is-light">Cancel</button></a
    >
  </div>
</div>
</section>






  <!--Name-->
  <div class="field">
    <label class="label">{{form.Name.label}}</label>
    <div class="control">{{form.Name}}</div>
  </div>


</form>

<script>
  function AreYouSureDeletePeer(peer_name, delete_href) {
    console.log(peer_name)
    if (
      confirm("Delete peer " + peer_name)
    ) {
      window.location.href = delete_href
    }
  }
</script>

{% endblock %}



