{% extends "base.html" %} 
{% block title %} Interface | SDVPN {% endblock %}

{% block content %}


<form method="post" id="mainform">
  <section class="section">
    <h1 class="title is-1">Interface</h1>
    <!--Button-->
    <div class="field is-grouped">
      <!--Save-->
      <div class="control">
        <button
          type="submit"
          name="action"
          value="save"
          class="button is-primary"
        >
          Save Interface
        </button>
      </div>
      <!--Generate keys-->
      <div class="control">
        <button
          type="button"
          name="action"
          value="generate"
          class="button"
          onclick="AreYouSureGenerateKeys()"
        >
          Generate keys
        </button>
      </div>
      <!--Used for AreYouSureGenerateKeys() to communicate with backend-->
      <input type="hidden" id="javascriptcontroled" />
    </div>
  </section>

  <script>
    function AreYouSureGenerateKeys() {
      if (
        confirm(
          "Do you confirm that you want to generate new encryption keys? Please be aware that this action will require you to recreate configurations for all connected peers."
        )
      ) {
        document.getElementById("javascriptcontroled").name = "action";
        document.getElementById("javascriptcontroled").value = "generate";
        document.getElementById("mainform").submit();
      }
    }
  </script>

  <!--[if lt IE 7]>
    <p class="browsehappy">
      You are using an <strong>outdated</strong> browser. Please
      <a href="#">upgrade your browser</a> to improve your experience.
    </p>
  <![endif]-->

  {% csrf_token %}

  <!--Address-->
  <div class="field">
    <label class="label">{{form.Address.label}}</label>
    <div class="control">{{form.Address}}</div>
  </div>
  <!--ListenPort-->
  <div class="field">
    <label class="label">{{form.ListenPort.label}}</label>
    <div class="control">{{form.ListenPort}}</div>
  </div>
  <!--PrivateKey-->
  <div class="field">
    <label class="label">{{form.PrivateKey.label}}</label>
    <div class="control">{{form.PrivateKey}}</div>
  </div>
  <!--PublicKey-->
  <div class="field">
    <label class="label">{{form.PublicKey.label}}</label>
    <div class="control">{{form.PublicKey}}</div>
  </div>
  <!--PreSharedKey-->
  <div class="field">
    <label class="label">{{form.PreSharedKey.label}}</label>
    <div class="control">{{form.PreSharedKey}}</div>
  </div>
</form>

{% endblock %}
