{% extends "base.html" %} 
{% block title %}  Peers | SDVPN {% endblock %}
{% block content %}
<section class="section">
  <h1 class="title is-1">Peers</h1>
  <div class="field is-grouped">
    <!--Add peer-->
    <div class="control">
      <a href="{% url 'add_peer' %}"
        ><button class="button is-primary">Add peer</button></a
      >
    </div>
  </div>
</section>

<div class="container">
  <div class="columns is-multiline">

    {% for peer in peers %}
     {% include 'peers/peer_card.html' %}
    {% endfor %}
      
  </div>
</div>


{% endblock %}
