{% extends "base.html" %}
{% block title %} Settings | SDVPN {% endblock %}

{% block content %}
<form method="post">
  {% csrf_token %}
<section class="section">
  <h1 class="title is-1">Settings</h1>
  <div class="field is-grouped">
    <div class="control">
      <button type="submit" class="button is-primary">Save</button>
    </div>
  </div>
</section>


    <div class="field">
      <label class="label">{{form.ServerIpAddress.label}}</label>
      <div class="control">{{form.ServerIpAddress}}</div>
    </div>



  </form>



    <!--superdupervpn-->
    <div class="container pt-5">
        <h1 class="title">SuperDuperVPN GitHub Repository</h1>
        <p class="subtitle">Check out the code on GitHub:</p>
        <a class="button" href="https://github.com/matyash12/SuperDuperVPN" target="_blank">
            <span>GitHub Repository</span>
        </a>
    </div>
    <!--wireguard docs-->
    <div class="container pt-5">
      <h1 class="title">Wireguard docs</h1>
      <p class="subtitle">Check out the docs:</p>
      <a class="button" href="https://www.wireguard.com/" target="_blank">
          <span>Wireguard docs</span>
      </a>
  </div>
  <!--wireguard github-->
    <div class="container pt-5">
      <h1 class="title">Wireguard GitHub Repository</h1>
      <p class="subtitle">Check out the code on GitHub:</p>
      <a class="button" href="https://github.com/WireGuard" target="_blank">
          <span>GitHub Repository</span>
      </a>
  </div>

{% endblock %}
