{% extends "base.html" %}
{% block title %} Settings | SDVPN {% endblock %}

{% block content %}
<form method="post">
  {% csrf_token %}

<section class="section">
  <h1 class="title is-1">Settings</h1>
  <div class="field is-grouped">
    <div class="control">
      <button type="submit" class="button is-primary">Save</button>
    </div>
  </div>
</section>


    <div class="field">
      <label class="label">{{form.ServerIpAddress.label}}</label>
      <div class="control">{{form.ServerIpAddress}}</div>
    </div>



  </form>
{% endblock %}
