<!DOCTYPE html>
<html>
<head>
    <title>Wireguard Configuration</title>
</head>
<body>
    <h1>Wireguard Configuration</h1>
    <h2>Interface</h2>
    <form method="post">
        {% csrf_token %}
        {{form_interface.as_p}}
    <h2>Peers</h2>
        
        {% for form in form_peers %}
            <h3>Peer {{forloop.counter}}</h3>
            {{ form.as_p }}
        {% endfor %}
        <button type="submit" name="action" value="Add">Add new Peer</button>
        <button type="submit" name="action" value="Save">Save Configuration</button>
    </form>
</body>
</html>
